/* Bible Study */
.bibleStudyWraper{
   text-align: center;
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 20px;
   background-color: LightSteelBlue ;  
}

.bibleStudyTitle{
   grid-column: span 2;
   background-color:wheat;
   cursor: pointer;
}

.bibleText{
   text-align: left;
   font-size: 1.2rem;
   background-color: burlywood;
   padding: 15px;
   overflow: auto;
   height: 750px;
}

.versionListWraper{
   overflow: auto;
}

.versionTitle{
   text-align: center;
   font-size: 30px;
   padding: 5px;
}

.versions{   
   text-align: center;
   font-size: 20px;
   margin: 5px;
   padding: 5px;
   cursor: pointer;
   background-color: wheat;
   border-radius: 5px;
}

/* book list */
.bookWrapper {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 3px; 
   padding: 5px;
   overflow: auto;
}

.bookName{
   font-size: 20px;
   text-emphasis: bold;
   border: 2px solid black;
   border-radius: 5px; 
   padding: 2px;
   text-align: center; 
   cursor: pointer;
}

.testamentTitle{
   grid-column: span 3;
   font-size: 50px;
   cursor: pointer;
}

.law{
   background-color: gold;
}
.history{
   background-color: powderblue;
}
.poetry{
   background-color:skyblue;
}
.prophets{
   background-color: salmon;
}
.gospel{
   background-color: coral;
}

.epistle{
   color: wheat;
   background-color: chocolate;
}
.prophesy{
   background-color: salmon;
}

/* chapter divs */
.chapterWrapper {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   grid-gap: 3px; 
   padding: 5px;
   overflow: auto;
}

.chapterBookTitle {
   grid-column: span 5;
   font-size: 50px;
   text-align: center;
   cursor: pointer;
}

.chapters, .chapterIntro{
   font-size: 20px;
   text-emphasis: bold;
   border: 2px solid black;
   border-radius: 5px; 
   padding: 2px;
   text-align: center; 
   cursor: pointer;
}

.chapterIntro{
   grid-column: span 5;
}

.verses{
   text-align: left;
   font-size: 20px;
}

/* bible study */
.bibleStudyNotes{
   height: 775px;
   background-color: burlywood;
}

.textBoxBibleStudy{
   font-size: 20px;
   outline: 0; 
   border: 3px solid black;
   /* border-bottom: 1px solid black;  */
   border-radius: 0; 
   box-sizing: content-box; 
   background-color: wheat; 
   overflow-y: hidden; 
   padding: 10px;   
   resize: none; 
}