

.dailyScheduleWraper{
   display: grid;
   grid-gap: 1px;
   grid-template-columns: 60px 170px 1fr;
}

.dailyScheduleTitle{
   grid-column: span 3;
   text-align: center;
}

.dailyScheduleDate{
   grid-column: span 3;
   text-align: center;
}

.dailyScheduleHeader{
   background-color: cyan;
}

.dailyScheduleTimeLabel{
   text-align: center;
   font-size: 10px;
   padding: 5px;
   cursor: pointer;
   border: solid black 1px;
}   

.dailyScheduleNotes{   
   font-size: 20px;
   padding: 3px 0px 0px 20px;
   font-weight: bold;
   cursor: pointer;
   
   background-color: whitesmoke;
}


.textInput {
   font-size: 25px;
   margin: 10px;
   width: 550px;
   height: 25px;
   background-color: bisque;
}

.selectionPopup{
   width: 200px;
   /* //transform: translate(300px, -700px); */
   background-color: wheat;  
   opacity: 0.98;
   border-radius: 10px;
   text-align: center;
   border: solid black 2px;
   padding: 20px;
}